/* Note que estou passando como variável a fonte
   da página. O uso de variáveis nos códigos ocorrem 
   a partir do momento no qual um mesmo valor, como fonte, 
   cor e afins são passados, constituindo-se como uma 
   boa prática. */

body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library__button .fa {
    font-size: 20px;
    font-weight: 300;
    color: #b3b3b3;
    margin-right: 10px;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: #FFF;
    font-family: "DM Sans", sans-serif;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 113px;
}

.sidebar .cookies {
    margin: 12px 15px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 6px;
    padding: 6px;
    border-radius: 20px;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    ;
}

.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
    font-family: "DM Sans", sans-serif;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}

/* Header: */

.main__container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left,.arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #131313;

    /* Parâmetro rgba informa a composição do elemento 
       formado pela composição das cores vermelho, verde 
       e azul, considerando a sua opacidade. */

    background-color: rgba(0, 0, 0, 07);

    /* Impedindo que se crie um desenho ao redor do botão. */
    border: none;

    /* Criando o contorno do botão ao passar o cursor. */
    border-radius: 50%;

    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input{
    background: transparent;
    border: none;
    padding: 0 100 0 12;
    color: #fff;
    /* Parâmetro que incide sobre o texto, impede que 
       esse fique muito grande, colocando reticências.*/ 
    text-overflow: ellipsis;
    /* Para que as reticências funcionem, o overflow hidden
       precisa ser passado em seguida.*/
    overflow: hidden;
    /* Impedir que o texto se quebre, mantendo-se
       numa única linha. */
    white-space: nowrap;
    /* Impedindo que o texto que será digitado seja
       grifado. */
    outline: none;
    margin-left: 10px;
}

.header__login .subscribe{
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-left: 22px;
    margin-right: 32px;
}

.header__login .login{
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}
